body {
        width: 80%;
        text-align: center;
}
.conteiner{
        width: 80%;
        padding-right: 25px;
}


header {
        width: 100%;
        background-color: #FFFFFF;
        fill: solid;
        rgba (0.0.0.0001)
}
footer {
        width: 100%;
}
.slider {
        width: 100%;
        text-align:center;
}
.text {

        

}
.item{
    list-style-type: none;
    display: inline;
    text-decoration: none;
   }
.link{
    text-decoration: none;
}
.home{
        width: 68px;
        height: 27px;
        left: 0px;
        top: -6px;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FF0000;
        text-decoration: none;
        margin-top: 25.5px;
        margin-right: 65px;
       
       
}
    

.image{
        width: 1280px;
        height: 789px;
        left: 0px;
        top: 78px;
}
.titel{
        
        font-family: 'Montserrat';
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 3.3px;
        text-transform: uppercase;
        color: #373737;
        margin-top: 48px;

        
}
.text-first{
        
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.4px;
        color: #373737;
        margin-top: 38px;
        width: 80%;
        width: 1145px;
        margin-right: auto;
        margin-left: auto;
       
      
       
}
.text-second{
        font-family: 'Montserrat';
        font-size: 16px;
        letter-spacing: 2.4px;
        color: #373737;
        margin-top: 26px;
        margin-right: auto;
        margin-left: auto;
        width: 1145px;
}
.button{
        width: 191px;
        height: 51px;
        background: #FF0000;
        border-radius: 4px;
        align-items: center;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 150px;
}

.copyright {
        width: 61%;
        height: fit-content;
        margin-top: 82px;
        margin-right: 105px;
        margin-bottom: 25px;
        margin-left: 703px;
        font-weight: 200px;
        font-style: bold;
}
        
    